Checks: >
  -*,
  clang-analyzer-*,
  bugprone-assert-side-effect,
  bugprone-dangling-handle,
  bugprone-infinite-loop,
  bugprone-narrowing-conversions,
  bugprone-use-after-move,
  performance-*,
  -performance-enum-size,
  portability-*
WarningsAsErrors: '*'
HeaderFilterRegex: '(^|/)src/'
FormatStyle: file
