build/
cmake-build-*/
out/

_deps/
CMakeFiles/
CMakeCache.txt
compile_commands.json

.DS_Store
Thumbs.db

.idea/
.vscode/
*.user
*.suo
*.sln
*.vcxproj
*.vcxproj.filters

*.o
*.obj
*.a
*.lib
*.dll
*.dylib
*.so
*.exe

assets/**/*.blend1
assets/**/*.blend2
